### 파이썬의 기본 문법
- 변수 선언, 식별자, 자료형, 형변환, 연산자 학습

#### 1. 주석(comment)과 출력(print)

In [2]:
# 주석: 앞에 #을 붙이면 코드로 실행이 안됨
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을 때
# 단축키: ctrl(cmd) + /
# 블럭설정: shift + 방향키


print(1)
#print(2)
print(3)

1
3

In [3]:
# 출력: print 함수
# 코드 중간에 변수 안에 들어있는 값을 확인하고 싶을 때 사용

In [4]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [8]:
# print 함수의 옵션
# docstring: 함수에 대한 설명: 단축키(shift + tab)
# 자동완성: tab

print(1, 2, sep='-', end='\t')
print(3, 4)
print(5)

1-2	3 4
5

#### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위

In [10]:
a = 1
b = 2
c = a + b
c

3

In [12]:
d, e = 3, 4
f = g = 5
print(d, e, f, g)

3 4 5 5

#### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 함
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_)를 사용
    - 가장 앞에 숫자 사용 불가
    - 예약어 사용 불가: def, class, try, except...
    - 컨벤션
        - snake case: fast_campus: 변수, 함수
        - camel case: FastCampus, fastCampus: 클래스

#### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적타이핑: 변수 선언 시 저장되는 값에 따라서 자동적으로 데이터 타입이 설정
- 기본 데이터 타입: int, float, bool, str
- 컬렉션 데이터 타입: list, tuple, dict

In [13]:
a = 1
b = "python"
type(a), type(b)

(int, str)

In [14]:
# 기본 데이터 타입: int, float, bool, str

a = 1
b = 1.2
c = True
d = "data"
type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [16]:
a + b

2.2

In [17]:
a + d

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
# 데이터 타입에 함수: 문자열
# upper: 대문자로 변환
d.upper()

'DATA'

In [24]:
f = "Fast campus"

In [25]:
# lower: 소문자로 변환
f.lower()

'fast campus'

In [27]:
# strip: 앞 뒤 공백제거
f.strip()

'Fast campus'

In [28]:
# replace: 특정 문자열로 치환
f.replace("Fast", "Slow")

'Slow campus'

In [29]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# 오프셋 인덱스: 마스크, 마스킹: []
# 문자열은 순서가 있는 문자들의 집합

In [32]:
g = "abcdefg"

In [40]:
g[2], g[-2], g[2:5], g[:2], g[-2:], g[::2], g[::-1]

('c', 'f', 'cde', 'ab', 'fg', 'aceg', 'gfedcba')

In [44]:
numbers = "123456789"
numbers[::-2]

'97531'

In [45]:
numbers[::2][::-1]

'97531'

#### 컬렉션 데이터 타입: list, tuple, dict
- list []: 순서가 있는 수정이 가능한 데이터 타입
- tuple (): 순서가 있는 수정이 불가능한 데이터 타입
- dict {}: 순서가 없고 키:값 으로 구성되어 있는 데이터 타입

In [49]:
# list
ls = [1, 2, 3, "four", [5, 6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [53]:
# offset index 사용이 가능
ls[3], ls[3][2], ls[1:3], ls[-2]

('four', 'u', [2, 3], True)

In [63]:
# list 함수
ls = [1, 5, 2, 4]

In [64]:
# append: 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [65]:
# sort: 오름차순으로 정렬
ls.sort()
ls

[1, 2, 3, 4, 5]

In [66]:
# 내림차순으로 정렬
ls[::-1]

[5, 4, 3, 2, 1]

In [67]:
# pop: 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제
num = ls.pop()
num, ls

(5, [1, 2, 3, 4])

In [ ]:
# 리스트의 복사

In [68]:
ls1 = [1, 2, 3]
ls2 = ls1 # 얕은 복사(주소값 복사)
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [69]:
ls1[2] = 5

In [70]:
ls1, ls2

([1, 2, 5], [1, 2, 5])

In [71]:
ls3 = ls1.copy() # 깊은 복사
ls1, ls3

([1, 2, 5], [1, 2, 5])

In [72]:
ls1[2] = 10
ls1, ls3

([1, 2, 10], [1, 2, 5])

#### Tuple (): 리스트와 같지만 수정이 불가능한 데이터 타입
- 튜플은 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용

In [75]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [77]:
a, b = 1, 2
a, b

(1, 2)

In [78]:
# offset index 사용 가능
tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [80]:
# 리스트와 튜플의 저장공간 비교
import sys

ls = [1, 2, 3]
tp = [1, 2, 3]

print(sys.getsizeof(ls), sys.getsizeof(tp))

88 88

#### dict {}
- 순서가 없고 (키:값)으로 구성되어 있는 데이터 타입

In [103]:
# 선언: 키는 정수, 문자열 데이터타입만 사용 가능
# 인덱스 대신 키를 사용

dic = {
    1: "one",
    "two": 2,
    "three": [1, 2, 3]
}
type(dic), dic

(dict, {1: 'one', 'three': [1, 2, 3], 'two': 2})

In [104]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [105]:
dic["two"] = 123
dic

{1: 'one', 'three': [1, 2, 3], 'two': 123}

In [ ]:
# 아래의 데이터를 list와 dict로 선언
# 도시: seoul, busan, daegu
# 인구: 9,700,000 3,400,000 2,400,000

In [113]:
ls = [["seoul", 9700000], ["busan", 3400000], ["daegu", 2400000]]
tp = {
    "seoul": 9700000,
    "busan": 3400000,
    "daegu": 2400000
}
ls, tp

([['seoul', 9700000], ['busan', 3400000], ['daegu', 2400000]],
 {'busan': 3400000, 'daegu': 2400000, 'seoul': 9700000})

In [114]:
city = ["seoul", "busan", "daegu"]
population = [9700000, 3400000, 2400000]

In [92]:
sum(population)

15500000

In [93]:
sum(tp.values())

15500000

#### 5. 형변환
- 데이터 타입을 변환하는 방법

In [94]:
a = 1
b = "2"
a + int(b)

3

In [95]:
str(a) + b

'12'

In [96]:
list(tp.values())

[2400000, 9700000, 3400000]

In [97]:
city, population

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [98]:
# zip: 같은 인덱스 데이터끼리 묶어주는 함수
list(zip(city, population))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]

In [116]:
result = dict(list(zip(city, population)))
result

{'busan': 3400000, 'daegu': 2400000, 'seoul': 9700000}

In [118]:
data1 = list(result.keys())
data2 = list(result.values())
data1, data2

(['daegu', 'seoul', 'busan'], [2400000, 9700000, 3400000])

#### 6. 연산자
- 산술연산자: +, -, *, /, //, %, **
- 할당연산자: 변수에 누적시켜서 연산: +=, -=, /=, *=
- 비교연산자: <, >, ==, !=, >=, <=: 결과로 True, False
- 논리연산자: True, False를 연산: or, and, not
- 멤버연산자: 특정 데이터가 있는지 확인할 때 사용: not in, in

In [120]:
# 비교연산
1 + 4 / 2 ** 2

2.0

In [123]:
# 할당연산
a = 10
a += 10
a

20

In [125]:
# 비교연산
a = 10
b = 20
a > b, a < b, a != b

(False, True, True)

In [126]:
# 논리연산
True and False, True or False

(False, True)

In [128]:
# 멤버연산
ls = ["jin", "andy", "john"]
"andy" in ls, "tom" in ls, "john" not in ls

(True, False, False)

In [139]:
### 랜덤함수
import random

random.randint(1, 10)

3

In [140]:
# 입력함수
data = input("insert string: ")
data

insert string: hi

'hi'

In [ ]:
# 해결의 책: 질문을 하면 질문에 대한 답변을 해주는 책

In [ ]:
# 솔루션을 리스트로 작성
# 질문 입력 받음
# 솔루션의 갯수에 맞게 랜덤한 index값을 생성
# index에 해당하는 솔루션 리스트의 데이터를 출력

In [145]:
solutions = [
    "무엇을 하면 안될 것이다.",
    "좋은 일이 생길 것이다.",
    "아무일도 일어나지 않을 것이다."
]

# 질문을 받음
input("질문을 입력하세요.: ")

# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
idx = random.randint(0, len(solutions) - 1)

# index 해당하는 솔루션 리스트의 데이터를 출력
solutions[idx]

질문을 입력하세요.:

'좋은 일이 생길 것이다.'