### class: 클래스
- 변수와 함수를 묶어 놓은 개념
- 사용방법
    - 변수와 함수가 들어있는 클래스를 선언
    - 클래스를 객체로 만들어서 클래스 안에 선언된 변수와 함수를 사용

In [1]:
# 클래스의 선언

class Calculator:
    
    num1 = 1
    num2 = 2
    
    def plus(self):
        return self.num1 + self.num2
    
    def minus(self):
        return self.num1 - self.num2

In [2]:
# 클래스의 사용
calc = Calculator()

In [6]:
calc.num1, calc.num2, calc.plus(), calc.minus()

(1, 2, 3, -1)

In [7]:
# self의 의미: 객체 자신
calc2 = Calculator()

In [8]:
calc2.num1 = 10
calc2.plus()

12

### 2. 객체지향
- 실제 세계를 코드에 반영해서 개발하는 방법
- 여러명의 개발자가 코드를 효율적으로 작성해서 프로젝트를 완성시키기 위한 방법
- 설계도 작성(class) -> 실제 물건(object)
- 사용자 정의 데이터 타입

In [9]:
obj = "python"
obj.upper()

'PYTHON'

In [10]:
ls = [1, 3, 2]
ls.sort()

In [11]:
ls

[1, 2, 3]

In [12]:
dir(ls)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [14]:
dir(calc)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'minus',
 'num1',
 'num2',
 'plus']

In [15]:
[data for data in dir(calc) if data[:2] != "__"]

['minus', 'num1', 'num2', 'plus']

### 3. 생성자
- 클래스가 객체로 생성될 때 실행되는 함수
- 변수(재료)를 추가할 때 사용

In [20]:
class Calculator:
    def __init__(self, num1=10, num2):
        self.num1 = num1
        self.num2 = num2
        
    def plus(self):
        return self.num1 + self.num2
    
    def minus(self):
        return self.num1 - self.num2

In [35]:
calc1 = Calculator(2, 3)
calc1.num1

2

In [36]:
calc1.plus()

5

In [37]:
# join
ls = ["python", "is", "good"]

In [38]:
ls = " ".join(ls)

In [39]:
print(ls)

python is good

In [40]:
# pandas dataframe
import pandas as pd

In [43]:
df = pd.DataFrame([
    {"name":"jin", "age":20},
    {"name":"andy", "age":21},
])

In [44]:
df

   name  age
0   jin   20
1  andy   21